@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.container-fluid {
  max-width: 1400px;
}


.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;


}

.card {
  position: relative;
  width: 220px;
  height: 330px;
  background: #181f40;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 14px 15px -3px rgba(82, 79, 79, 0.071);
  margin: 20px 25px 20px 0;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #05f29b;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -60%;
  transform: skewY(390deg);
}

.card::after {
  content: "ELITE";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 4em;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  padding: 0 0 10px 0;
  font-size: 15px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 18px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #05f29b;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .product-container {

    justify-content: center;
  }
  .category-card{
    padding: 10px;
  }

  .card {
    margin: 10px 4px;
    width: 130px;
    height: 200px;
  }

  .mouse{
    height: 110px;
    width: 115px;
  }
  .price{
    padding-bottom: 5px;
  }



  .card .contentBox .buy {

    position: relative;
    top: 0px;
    opacity: 1;
    padding:5px 10px;
    font-size: 10px;
    margin-top: 0;
    color: #000000;
    text-decoration: none;
    background: #05f29b;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
  }

  .card .contentBox .price {
    font-size: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}
.card .contentBox h3 {
  padding: 0 0 6px 0;
  font-size: 10px;
  color: white;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox {
  position: relative;
  padding: 0 0 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}



}