@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.container-fluid {
  max-width: 1400px;
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  background: #181f40;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 14px 15px -3px rgba(82, 79, 79, 0.071);
  margin: 10px;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #05f29b;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -60%;
  transform: skewY(390deg);
}

.card::after {
  content: "ELITE";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 4em;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.card .contentBox {
  position: relative;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  padding: 0 0 10px 0;
  font-size: 15px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 18px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  background: #05f29b;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 200px;
  width: 200px;
}
