.slider-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    margin: 50px 0 80px 0;
  
    .slick-dots {
      bottom: -40px;
    }
  
    .slider-item {
      margin: 0 10px;
      text-align: center;
      vertical-align: middle;
  
      img {
        width: 190px;
        max-width: 200px;
        height: 80px;
        margin: auto  ;
      }
    }
  }
  