.content-AppGlass{
    display: flex;
    flex-direction: column;
  }
  
  .AppGlass {
    overflow: hidden  !important;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    gap: 16px;

  
    .content-main{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }
  }
  
  @media screen and (max-width: 1200px) {
    .AppGlass{
      grid-template-columns: 10%  auto;
      overflow-y: scroll;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .AppGlass{
      grid-template-columns: 1fr;
    } 
  }