.lottie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    left: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(5, 1, 44, 0.196);

    div{
        width: 35%;
        height: 35%;
    }

}