.lottie{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(160, 167, 175, 0.94);

    div{
        width: 35%;
        height: 35%;
    }

}