.product {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 110px);
    padding: 32px;
    width: 100%;
    &-container {
        display: flex;
        width: inherit;
        height: inherit;
        .image {
            img {
                width: 600px;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 50px;
            &-container {
                padding-right: 90px;
            }
            button {
                align-items: center;
                background-color: #ffffff;
                border-color: #55b85e;
                border-radius: 2px;
                border-style: solid;
                border-width: 1px;
                color: #55b85e;
                font-size: 17.6px;
                padding: 10px 12px;
                margin-bottom: 4rem;
            }
            h3,
            p,
            h2 {
                color: #ffffff;
            }
            h3 {
                font-size: 30px;
                margin-bottom: 2rem;
                font-weight: 700;
            }
            p {
                margin-bottom: 1.5rem;
            }
            h2 {
                font-size: 25px;
                color: gray;
            }
            strong {
                margin-left: 5px;
                color: #ffffff;
            }
        }
    }
    &-form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2rem;
        width: 80%;
        &-container {
            display: flex;
            gap: 15px;
            margin-bottom: 15px;
        }
        label{margin-bottom: 6px;}
        fieldset {
            display: inline-flex;
            flex-direction: column;
            width: auto;
            flex: 0.3;
            label {
                color: white;
            }
            input {
                width: 100%;
                text-align: center;
                padding: 12px;
            }
            select{
                padding: 12px;
            }
        }
        .select{
            flex: 1;
        }
    }
}
