/*********************************************/
/*COLORS*/
/*********************************************/

.main {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: black;
    }
}





button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #000;
}

.wrappen_block {
    position: relative;
    width: 100%;
    height: 100%;
}

.productCard_block {
    display: flex;
    justify-content: space-around;
    background-color: #fff;

    &_image {
        width: 50%;
        background-color: #070f35;
    }

    &_info {
        width: 50%;
        padding: 25px;
        background-color: #070f35;
    }
}

/* LEFT SIDE */
.productCard_leftSide {
    position: relative;
    width: 100%;
}

.productCard_brendBlock {
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 184px;
    max-height: 75px;
    background-color: #272727;
    z-index: 2;

    &__imageBlock {
        display: block;
        height: 100%;

        img {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.sliderBlock {
    position: relative;

    height: 100%;

    margin-left: 70px;
    margin-top: 89px;
    margin-bottom: 46px;
    overflow: hidden;
}

.sliderBlock_items {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 403px;

    &__itemPhoto {
        position: absolute;
        width: 100%;
        height: 100%;

        opacity: 0;
        z-index: 2;
        transition: opacity 1s;
    }

    &__showing {
        opacity: 1;
        z-index: 3;
    }

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #C5B77A;
        opacity: 0.2;
        z-index: 4;
    }
}

.sliderBlock_controls {
    width: 100%;

    &__navigatin {
        margin-top: 8px;
        width: 100%;
    }

    &__wrapper {
        margin: 1% auto;
        width: 110px;
        height: 20px;
    }

    ////// ARROWS

    &__arrow {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;

        border: 1px solid #536dfe;

        transition: 300ms all;
        background-color: #0d2660;

        /* border-radius: 50%; */
        &:hover {
            background-color: #6891fe;
        }

        & i {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            margin-left: -50%;
            margin-top: -50%;

            color: #fff;
            transition: 300ms all;

            font-weight: bold;
            text-align: center;
            font-size: 20px;
        }

        &:hover i {
            //color: #0d2660;
        }
    }

    &__arrowBackward {
        float: left;
    }

    &__arrowForward {
        float: right;
    }
}

//////////POSITION Controls

.sliderBlock_positionControls {
    display: block;
    width: 100%;
    height: 3px;
    margin: 30px auto 0;

    &__paginatorItem {
        float: left;

        width: 18px;
        height: 10px;
        margin-left: 5px;
        background-color: #d7d7d7;
        cursor: pointer;

        &:first-child {
            margin-left: 31%;
        }
    }

    &__active {
        background-color: #536dfe;
    }
}

/*   RIGHT SIDE */
.productCard_rightSide {
    position: relative;

    padding-top: 34px;
    padding-left: 27px;
    padding-right: 40px; ///////////////

    width: 100%;
    min-height: 600px;
}

.block_specification {
    float: right;
    margin-top: 8px;
    cursor: pointer;
    color: #6891fe;
    transition: all 0.5s;

    &__button {
        display: inline-block;
        margin-right: 7px;
        height: 100%;
        font-size: 17px;
        text-transform: uppercase;
        transform: rotate(0);
        transition: transform 0.5s;
        transform-origin: center center;
    }

    &:hover &__button__rotate {
        transition: transform 0.5s;
        transform: rotate(1turn);
    }

    &:hover {
        color: #0d2660;
    }
}

.block_specification__text {
    width: 30px;
    height: 11px;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.block_specification__specificationShow {}

.block_specification__informationShow {}

.block_model {
    display: inline-block;
    color: white;
    font-size: 12px;
    //line-height: 35px;
    opacity: 0.9;
}

.block_name {
    width: 100%;
    color: #263238;
    font-weight: 400;
    line-height: 35px;

    &__mainName {
        margin: 0;
        padding: 0;
        font-size: 29px;
        color: white;
    }

    &__addName {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 24px;
    }
}

.block_product {
    position: relative;
    width: 100%;

    &__advantagesProduct {
        width: 271px;
        height: 41px;
        margin-top: 14px;
        color: white;
        font-size: 17px;
        line-height: 24px;
    }

    &__link {
        line-height: 23px;
        color: #6891fe;
    }
}

.block_informationAboutDevice {
    position: relative;
    width: 80%;
    overflow: hidden;

    .row {
        margin-top: 2rem;
        &_price {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-quantity {
            display: flex;

        }
    }
}

.block_descriptionInformation {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: white;
}

.block_descriptionCharacteristic {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 30;

    transition: left, ease-out, 0.5s;

    &__active {
        left: 0;
    }
}

@keyframes moveCharackeristic {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

.block_specificationInformation_table {
    position: relative;
    height: 90%;
    background-color: #fff;

    tr {
        border-collapse: collapse;
        border: 1px solid #000;
    }

    th {
        border: 1px solid #000;
        font-weight: bold;
    }

    td {
        border-collapse: collapse;
        text-align: center;
        //height: calc(100% / 10.8);
        border: 1px solid #000;
    }
}

// RAITING

.block_rating {
    width: 100%;
    margin-top: 33px;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

.block_rating__stars {
    border: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    margin: 0;
}

.block_rating__stars>input {
    display: none;
}

.block_rating__stars>label:before {
    margin: 5px;
    font-size: 15px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.block_rating__stars>.half:before {
    content: "\f089";
    position: absolute;
}

.block_rating__stars>label {
    color: #c9c9c9;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.block_rating__stars>input:checked~label,
/* show gold star when clicked */
.block_rating__stars:not(:checked)>label:hover,
/* hover current star */
.block_rating__stars:not(:checked)>label:hover~label {
    color: #fccf47;
}

/* hover previous stars in list */

.block_rating__stars>input:checked+label:hover,
/* hover current star when changing rating */
.block_rating__stars>input:checked~label:hover,
.block_rating__stars>label:hover~input:checked~label,
/* lighten current selection */
.block_rating__stars>input:checked~label:hover~label {
    color: #ffed85;
}

.block_rating__avarage {
    margin-left: 31px;
    color: #0d2660;
    font-size: 15px;
    line-height: 35px;
}

.block_rating__reviews {
    margin-left: 6px;
    color: #656c6f;
    font-size: 13px;
}

//////// PRICE

.block_price {
    width: 100%;

    &__currency {
        padding: 0;
        margin: 0;
        vertical-align: top;
        color: white;
        font-size: 26px;
        font-weight: 600;
    }

    &__shipping {
        padding: 0;
        margin: 0;
        color: white;
        font-size: 12px;
    }
}

//////// CHOOSE COLOR

.radio_button {
    position: absolute;
    opacity: 0;
}

.block_goodColor {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 5rem;
    &__allColors {
        width: 100%;
    }

    &__radio {
        display: inline-block;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        margin-left: 10% !important;
        cursor: pointer;
    }
}

.radio_button:checked+.block_goodColor__radio {
    width: 25px;
    height: 25px;
    box-shadow: 0 0 5px 3px rgba(83, 109, 254, 0.5);
    border: 2px solid rgb(7, 15, 53);
}

.block_goodColor__black {
    background-color: #3c383a;
}

.block_goodColor__silver {
    background-color: silver;
}

.text_specification {
    padding: 0;
    color: white;
    font-size: 15px;
}

.block_quantity {
    margin-top: 45px;
    span {
        display: inline-block;
        float: left;
        margin-top: 15px;
        margin-right: 10px;
        color: white;
    }

    &__chooseBlock {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin: 0;
        padding: 0;
        &__quantity{
            display: flex;
        }
        &__button{
            border: none;
            background-color: #536dfe;
            padding: 15px;
            color: white;
            border-radius: 10px;
        }
        .button_arrow {
            display: flex;
            flex-direction: column;
            gap: 9px;
            justify-content: center;
            width: 5%;
            align-items: center;
            button{
                border: none;
            }
        }
    }

    &__number {
        display: inline-block;
        float: left;
        width: 52px;
        height: 46px;
        margin-right: 5px;
        border: 1px solid #ddd;
        font-size: 18px;

        &::placeholder {
            color: #403f40;
            font-size: 18px;
            line-height: 35px;
        }
    }

    &__button {
        display: inline-block;
        position: relative;
        float: left;
        width: 20px;
        height: 50%;
        margin: 0;
        padding: 0;
        margin-left: 11px;
        font-size: 0;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: transparent;

            &:before {
                color: #6891fe;
            }
        }
    }


}

// ADD to CARD

.button.button_addToCard {
    width: 147px;
    height: 46px;
    margin-bottom: 0;
    padding: 0;
    color: #fff;
    background-color: #6891fe;
    font-size: 17px;
    transition: all 0.3s;
    border: none;
    margin-left: 4rem;
    border-radius: 5px;

    &:hover {
        background-color: #0d2660;
    }
}