/* @import url("https://fonts.googleapis.com/css?family=Lato:100,400,300");


.category {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 10%;

  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }




  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 30px 0;
  }

  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 10px 20px;
    overflow: hidden;
    border-radius: 15px;
  }

  .ag-courses-item_link {
    display: block;
    padding: 15px 10px;
    background-color: #121212;
    text-decoration: none;

    overflow: hidden;

    position: relative;
  }

  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }

  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }

  .ag-courses-item_title {
    min-height: 40px;
    overflow: hidden;

    font-weight: bold;
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
  }

  .ag-courses-item_date-box {
    font-size: 13px;
    color: #FFF;

    z-index: 2;
    position: relative;
  }

  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }

  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
  }

  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }

  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }

  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }

  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }

  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }



  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
      font-size: 24px;
    }
  }

  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }

  }

  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }

    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;

      font-size: 24px;
    }

    .ag-courses-item_link {
      padding: 22px 40px;
    }

    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 639px) {
  .category {
    flex-wrap: wrap;

  }
}

.pr-5 {
  padding-right: 10%;
} */


@supports (display: grid) {

  .grid {
    display: grid;
    grid-gap: 1.5vw;
    min-height: 100vh;
    padding: 1.5vw;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50vh 30vh repeat(7, minmax(20vh, 1fr));
    grid-template-areas:
      "hero   hero"
      "big1   big1"
      "med1   med1"
      "med2   med2"
      "small1 small2"
      "small3 small4"
      "small5 small6"
      "small7 small8"
      "small9 small10";
  }

  @media screen and (min-width: 750px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 25vh);
      grid-template-areas:
        "hero   hero   hero   med1   med1"
        "hero   hero   hero   med2   med2"
        "big1   big1   big1   big1   big1"
        "small1 small2 small3 small4 small5"
        "small6 small7 small8 small9 small10";
    }
  }

  @media screen and (min-width: 1400px) {
    .grid {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "small1 hero   hero hero med1   med1"
        "small2 hero   hero hero med2   med2"
        "small3 small5 big1 big1 small7 small8"
        "small4 small6 big1 big1 small9 small10";
    }
  }

  .grid .item:nth-child(1) {
    grid-area: hero;
  }

  .grid .item:nth-child(2) {
    grid-area: big1;
  }

  .grid .item:nth-child(3) {
    grid-area: med1;
  }

  .grid .item:nth-child(4) {
    grid-area: med2;
  }

  .grid .item:nth-child(5) {
    grid-area: small1;
  }

  .grid .item:nth-child(6) {
    grid-area: small2;
  }

  .grid .item:nth-child(7) {
    grid-area: small3;
  }

  .grid .item:nth-child(8) {
    grid-area: small4;
  }

  .grid .item:nth-child(9) {
    grid-area: small5;
  }

  .grid .item:nth-child(10) {
    grid-area: small6;
  }

  .grid .item:nth-child(11) {
    grid-area: small7;
  }

  .grid .item:nth-child(12) {
    grid-area: small8;
  }

  .grid .item:nth-child(13) {
    grid-area: small9;
  }

  .grid .item:nth-child(14) {
    grid-area: small10;
  }

}

/* flexbox fallback is the browser does not support display:grid */
@supports not (display: grid) {

  .grid {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    padding: 0.75vw;
  }

  .grid .item {
    min-height: 20vh;
    margin: 0.75vw;
  }

  .grid .item:nth-child(1) {
    flex: 0 1 calc(100% - 1.5vw);
    height: 50vh;
  }

  .grid .item:nth-child(2) {
    flex: 0 1 calc(100% - 1.5vw);
    height: 30vh;
  }

  .grid .item:nth-child(3) {
    flex: 0 1 calc(100% - 1.5vw);
  }

  .grid .item:nth-child(4) {
    flex: 0 1 calc(100% - 1.5vw);
  }

  .grid .item:nth-child(5) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(6) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(7) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(8) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(9) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(10) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(11) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(12) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(13) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  .grid .item:nth-child(14) {
    flex: 0 1 calc(50% - 1.5vw);
  }

  @media screen and (min-width: 750px) {
    .grid .item:nth-child(1) {
      flex: 0 1 calc(60% - 1.5vw);
    }

    .grid .item:nth-child(2) {
      flex: 0 1 calc(40% - 1.5vw);
      height: 50vh;
    }
  }

  @media screen and (min-width: 1400px) {
    .grid .item:nth-child(1) {
      flex: 0 1 calc(60% - 1.5vw);
    }

    .grid .item:nth-child(2) {
      flex: 0 1 calc(40% - 1.5vw);
    }

    .grid .item:nth-child(3) {
      flex: 0 1 calc(50% - 1.5vw);
    }

    .grid .item:nth-child(4) {
      flex: 0 1 calc(50% - 1.5vw);
    }

    .grid .item:nth-child(5) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(6) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(7) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(8) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(9) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(10) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(11) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(12) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(13) {
      flex: 0 1 calc(25% - 1.5vw);
    }

    .grid .item:nth-child(14) {
      flex: 0 1 calc(25% - 1.5vw);
    }
  }

}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.diamond {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top left, #ddd 0%, #fff 100%);
  text-align: center;
  transform-origin: center;
  transform: rotateZ(45deg);
  transition: box-shadow 250ms, transform 250ms;
}

.diamond span {
  font-weight: bold;
  transform: rotateZ(-45deg)
}

.grid .item:hover .diamond,
.grid .item:focus .diamond {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transform: rotateZ(45deg) scale(1.2);
}

.tooltip {
  position: absolute;
  z-index: 1;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  background: #29343d;
  opacity: 0;
  color: #cedfe9;
  font-size: 0.875rem;
  transition: opacity 500ms, transform 500ms;
}

.tooltip:before {
  content: '';
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #29343d;
}

.grid .item:hover .tooltip,
.grid .item:focus .tooltip {
  opacity: 1;
  transform: translateY(70px);
}

.grid .item {
  position: relative;
  padding: 1vw;
  background-position: left bottom;
  background-size: 150% 100%;
  transition: background 500ms, outline 500ms;
  background-position: top left;
  outline: transparent;
}

.grid .item:hover,
.grid .item:focus {
  background-position: top right;
}

.grid .item:focus {
  outline: 2px solid #3eabfa;
}

.grid .item:nth-child(1) {
  background-image: linear-gradient(45deg, #cbabfb 0%, #fb7ef6 60%);
}

.grid .item:nth-child(2) {
  background-image: linear-gradient(45deg, #fb7ef6 0%, #cbabfb 60%);
}

.grid .item:nth-child(3) {
  background-image: linear-gradient(45deg, #70c1fb 0%, #79ebe0 60%);
}

.grid .item:nth-child(4) {
  background-image: linear-gradient(45deg, #79ebe0 0%, #70c1fb 60%);
}

.grid .item:nth-child(5),
.grid .item:nth-child(6),
.grid .item:nth-child(7),
.grid .item:nth-child(8),
.grid .item:nth-child(9),
.grid .item:nth-child(10),
.grid .item:nth-child(11),
.grid .item:nth-child(12),
.grid .item:nth-child(13),
.grid .item:nth-child(14) {
  background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
}