//Components
@import "./../../components/Header/Header.scss";
@import "./../../components/InputComponent/InputComponent.scss";
@import "./../../components/CardDark/CardDark.scss";
@import "./../../components/ProductCard/ProductCard.scss";
@import "./../../components/Cart/cart.scss";
@import "./../../components/CartProduct/cartProduct.scss";
@import "./../../components/ProductPages/productPage.scss";
@import "./../../components/CategoryPages/categoryPage.scss";
@import "./../../components/CardCategory/CardCategory.scss";

//pages
@import "./../../sass/pages/categories.scss";
    

//templates


